.footer {
  font-size: 1.3rem;
  width: 100%;
  padding: 1.1875rem 1.75rem 1.125rem 2.6875rem;
  align-items: center;
  gap: 42.8125rem;
}
.iconLink{
  padding: 5px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}