:root {
  font-family: "Roboto", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  display: block;
  color: inherit;
  text-decoration: inherit;
}
