
.content {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--color-secondary);
}
.text {
  text-align: left;
  padding-left: 10px;
  border-left: 2px solid var(--color-pink-medium);
}
